<p style="color: green"><%= notice %></p>

<h1>Posts</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Posted</th>
      <th>Comments</th>
    </tr>
  </thead>

  <tbody id="posts">
    <%= render @posts %>
  </tbody>
</table>

<%= link_to "New post", new_post_path %>

<div data-controller="utilities--md5">
  <%= link_to 'Click me!', '#', 'data-action': 'utilities--md5#convert' %>
</div>